In [2]:
import pandas as pd

In [3]:
df0 = pd.read_excel('data.xlsx')

In [4]:
df0['year'] = df0['基金成立日'].apply(lambda x:str(x)[:4])

图一

In [5]:
totalnum = df0['year'].value_counts(ascending= True).cumsum()

In [7]:
bondnum = df0.loc[df0['投资类型\n[基金分类] 投资类型(一级分类)'] == '债券型基金' ]['year'].value_counts().sort_index().cumsum()

In [8]:
s1 = (bondnum/totalnum)[9:]
s1.name = 'prop'
s2 = bondnum[8:]
s2.name = 'num'

In [9]:
df1 = pd.concat([s1,s2],axis = 1)
df1.to_excel('1.xlsx')

In [10]:
df1

          prop   num
2010  0.203652   145
2011  0.216667   195
2012  0.257294   291
2013  0.305277   457
2014  0.278265   539
2015  0.180961   633
2016  0.153910  1106
2017  0.312527  1447
2018  0.333849  1942
2019  0.307379  2720
2020  0.310543  3520
2021  0.284673  4298
2022  1.741564  4387

图二

In [13]:
bondsize = df0.loc[df0['投资类型\n[基金分类] 投资类型(一级分类)'] == '债券型基金' ].groupby(df0['year']).sum()['基金规模\n[单位] 元'].cumsum()
allsize = df0.groupby(df0['year']).sum()['基金规模\n[单位] 元'].cumsum()

In [14]:
s1 = (bondsize/allsize)[9:]
s1.name = 'prop'
s2 = bondsize[8:]
s2.name = 'size'

In [15]:
df2 = pd.concat([s1,s2],axis = 1)

In [17]:
df2.to_excel('2.xlsx')

图三

In [22]:
df0['投资类型\n[基金分类] 投资类型(一级分类)'].value_counts().to_excel('3.xlsx')

图四

In [25]:
(df0['投资类型\n[基金分类] 投资类型(一级分类)'].value_counts()/(df0['投资类型\n[基金分类] 投资类型(一级分类)'].value_counts().sum())).to_excel('4.xlsx')

图五

In [35]:
df5 = df0[df0['投资类型\n[基金分类] 投资类型(一级分类)'] =='债券型基金'].groupby('投资类型(二级分类)↑').sum()['基金规模\n[单位] 元']

In [36]:
df5.to_excel('5.xlsx')

图六

In [37]:
df6 = df5/df5.sum()

In [39]:
df6.to_excel('6.xlsx')